body{
    background: linear-gradient(red 0%, goldenrod 100%);
}

h1{
    color:whitesmoke;
    background-color: skyblue;
}

#sketch_name{
    color: deepskyblue
}

#show_sketch{
    float:right;
}

#score{
    float: left;
}

#time{
    float: right;
}